/* @import "./variables";*/
@import "./mixin";

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*
KISSY CSS Reset
理念：1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
特色：1. 适应中文；2. 基于最新主流浏览器。
维护：玉伯<lifesinger@gmail.com>, 正淳<ragecarrier@gmail.com>
 */


/** 清除内外边距 **/

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,

/* structural elements 结构元素 */

dl,
dt,
dd,
ul,
ol,
li,

/* list elements 列表元素 */

pre,

/* text formatting elements 文本格式元素 */

form,
fieldset,
legend,
button,
input,
textarea,

/* form elements 表单元素 */

th,
td
/* table elements 表格元素 */

{
  margin: 0;
  padding: 0;
}


/** 设置默认字体 **/

body,
button,
input,
select,
textarea
/* for ie */

{
  font: 12px/1.5 \5fae\8f6f\96c5\9ed1, arial, \5b8b\4f53, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}


/* 将斜体扶正 */

code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}


/* 统一等宽字体 */

small {
  font-size: 12px;
}


/* 小于 12px 的中文很难阅读，让 small 正常化 */


/** 重置列表元素 **/

ul,
ol {
  list-style: none;
}


/** 重置文本格式元素 **/

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none;
}


/** 禁用苹果设备默认的点击半透明背景 **/

div,
a,
img,
span,
p,
ul,
li,
input {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}


/** 重置表单元素 **/

legend {
  color: #000;
}


/* for ie6 */

fieldset,
img {
  border: 0;
}


/* img 搭车：让链接里的 img 无边框 */

button,
input,
select,
textarea {
  font-size: 100%;
}


/* 使得表单元素在 ie 下能继承字体大小 */


/* 注：optgroup 无法扶正 */


/** 重置表格元素 **/

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/** 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸 **/

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: #F5F5F5;
}


/** 定义滚动条轨道 内阴影+圆角 **/

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #F5F5F5;
}


/** 定义滑块 内阴影+圆角 **/

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

input[type="button"],
input[type="submit"],
input[type="search"],
input[type="reset"] {
  -webkit-appearance: none;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none; /* 此处只是去掉默认的小×*/
}


/** 全局进制input/textarea框获取焦点时的轮廓 **/

input,
textarea:focus {
  outline: 0;
}

textarea {
  -webkit-appearance: none;
}

html,
body {
  height: 100%;
  background-color: #F5F5F5;
  max-width: 540px;
  margin: 0 auto;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.primary {
  color: $green;
}
.second {
  color: $red;
}
.white {
  color: $white;
}
.primary-text {
  color: $primary-dark;
}
.second-text {
  color: $second-dark;
}
.third-text {
  color: $third-dark;
}

.primary-bg {
  background-color: $green;
}
.second-bg {
  background-color: $red;
}
.white-bg {
  background-color: $white;
}

.font-12 {
  @include font-dpr(12px);
}

.font-13 {
  @include font-dpr(13px);
}

.font-14 {
  @include font-dpr(14px);
}

.font-15 {
  @include font-dpr(15px);
}

.font-16 {
  @include font-dpr(16px);
}

.font-17 {
  @include font-dpr(17px);
}

.font-18 {
  @include font-dpr(18px);
}

.font-20 {
  @include font-dpr(20px);
}

.font-21 {
  @include font-dpr(21px);
}

.font-26 {
  @include font-dpr(26px);
}

.font-27 {
  @include font-dpr(27px);
}

/** 绝对定位垂直居中 **/
.absolute-vertical {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%)Y
}

/** 绝对定位水平居中 **/
.absolute-horizontal {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/** flex布局，水平垂直居中 **/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/** 封面 **/
.full-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: inherit;
  height: inherit;
}

/** 占满屏幕最大宽度（最大不超过540px） **/
.full-width {
  width: 100%;
  max-width: 540px;
}

/** 企业、协会、校友会、班级、个人名片、空间、空间文件夹顶部卡片信息公用样式 **/
.card-container {
  @include pm2rem(padding, 96px, 22px, 0px, 22px);
}

/** 协会、校友会、班级页面四个tab页公用样式 **/
.four-nav-tabs {
  @include pm2rem(margin, 20px, 0px, 10px, 0px);
  .tab-bar {
    @include px2rem(height, 84px);
    @include pm2rem(padding, 0px, 22px, 0px, 22px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    div {
      height: inherit;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      @include px2rem(line-height, 84px);
      border: 1px solid $green;
    }
    .left {
      @include px2rem(border-top-left-radius, 14px);
      @include px2rem(border-bottom-left-radius, 14px);
    }
    .middle {
      border-left: none;
    }
    .right {
      @include px2rem(border-top-right-radius, 14px);
      @include px2rem(border-bottom-right-radius, 14px);
    }
  }
}

/** 企业、协会、校友会、班级、个人名片没有相关数据时的样式 **/
.no-data {
  @include pm2rem(padding, 100px, 20px, 100px, 0px);
  @include pm2rem(margin, 20px, 22px, 0px, 22px);
  background-color: $white;
  text-align: center;
  border: 1px solid #E7E7E7;
  img {
    @include px2rem(width, 260px);
    height: auto;
  }
}

/** 协会、班级需要登录tab页公用提示样式 **/
.tab-tips-container {
  @include pm2rem(padding, 100px, 0px, 100px, 0px);
  text-align: center;
  .login-btn {
    margin: 0 auto;
    @include px2rem(margin-top,60px);
    a {
      display: block;
      margin: 0 auto;
      @include px2rem(height, 70px);
      @include px2rem(line-height, 70px);
      @include px2rem(width, 550px);
    }
    a:active {
      background-color: rgba(82, 202, 167, .5);
    }
  }
}

/** 企业、协会、校友会、班级tab切换动画共用样式 **/
.fade-enter {
  opacity: 0;
}
.fade-enter-to {
  opacity: 1;
}
.fade-enter-active {
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}
.fade-leave {
  opacity: 1;
}
.fade-leave-active {
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
}
.fade-leave-to {
  opacity: 0
}
