$green: #52CAA7;
$white: #FFF;
$red: #F75544;
$second-red: #FF5001;
$dark: #000;
$primary-dark: #262626;
$second-dark: #595959;
$third-dark: #A6A6A6;
$primary-grey: #EFEFEF;
$second-grey: #E0E0E0;
$third-grey: #E7E7E7;
$fourth-grey: #DEDEDE;
$fifth-grey: #D1D1D1;
$sixth-grey: #FAFAFA;
$seventh-grey: #7F7F7F;
$eighth-grey: #C2C2C2;
$ninth-grey: #EDEDED;
$tenth-grey: #F2F2F2;
$eleventh-grey: #B4B4B4;
$twelfth-grey: #F4F4F4;
$thirteenth-grey: #D6D6D6;
$fourteenth-grey: #8A8A8A;
